on early-init
    setprop persist.service.hdb.enable true

on init
    setprop persist.graphics.vulkan.disable false

on early-boot
    service HwServiceHost /system/bin/HwServiceHost mtk6761 MRD
    class main
    user cameraserver
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm system dsm sdcard_rw

on boot
    mkdir /data/misc/hwpush
    chmod 0770 /data/misc/hwpush
    chown system system /data/misc/hwpush
    restorecon_recursive /data/misc/hwpush

    mkdir /data/misc/hwpki
    chmod 770 /data/misc/hwpki
    chown system system /data/misc/hwpki
    restorecon_recursive /data/misc/hwpki

#teeos
	mkdir /data/log/tee 0770 root system

#bluetooth
on property:bluetooth.log.file.create=true
    mkdir /data/log/bt
    chown bluetooth bluetooth /data/log/bt
    chmod 775 /data/log/bt
    setprop bluetooth.log.file.create false

on post-fs-data
    mkdir /data/misc/hsm
    chmod 0770 /data/misc/hsm
    chown system system /data/misc/hsm
    restorecon_recursive /data/misc/hsm

    mkdir /data/cota
    chmod 0775 /data/cota
    chown system system /data/cota
    restorecon_recursive /data/cota

    mkdir /data/cota/cloud
    chmod 0770 /data/cota/cloud
    chown system system /data/cota/cloud
    restorecon_recursive /data/cota/cloud

    mkdir /data/log/reliability/xcollie
    chown system log /data/log/reliability/xcollie
    chmod 2775 /data/log/reliability/xcollie
    restorecon_recursive /data/log/reliability/xcollie

    /* DTS2019120402486 j00514769 20191213 begin */
    mkdir /data/misc/installer
    chmod 2770 /data/misc/installer
    chown system vendor_installer /data/misc/installer
    restorecon_recursive /data/misc/installer
    /* DTS2019120402486 j00514769 20191213 end */

on property:sys.boot_completed=1
    write /proc/self/reclaim file
